@media (320px<=width<=480px){


    .figure{
        width: 95%;
        margin: 0 auto;
        height: 20rem;
    gap: 3rem;
    border-radius: 1rem;
       
    }
    
    .figure h2{
        font-size: 2rem;
    }
    
    .cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    }
    
    .cards a{
        text-decoration: none;
        color: white;
    }
    
    .tilt{
    
    width: 8rem;
    height: 10rem;
    font-size: 0.8rem;
        
    
    }
    
    
    
    .info{
        opacity: 0;
        transform: translateY(4rem);
        transition: all 0.5s ease-in-out;
    
       
    }
    
    .tilt:hover .info{
        opacity: 1;
        transform: translateY(0);
    
    }
    
    .tilt:hover{
        width: 9rem;
        height: 10.5rem; 
    
    }
    








    .team {
        justify-content:flex-start;
        flex-direction: column;
        gap: 3.5rem;    
height: 45rem;
    
    
    }
    
    #team-slogan{
        height: 10%;
        width: 100%;
    }

    #team-slogan h2{
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    #team-slogan p{
        font-size: 0.7rem;
       
    }
    
    
    .team .member-details{
        width: 70%;
        height: 100%;
        gap: 3.5rem;
        flex-direction: column;
    }

    
    .team div{
        width: 100%;
    gap: 1rem;
    }
    
    
    
    .team p{
        font-size: 0.7rem;
        opacity: 0.7;
    }
    
    
    
    
    .team div img{
        width: 4.5rem;
        top: -2.5rem;
    }
    
    
    
    
  /* Navbar */
  /* Navbar */
  /* Navbar */
  /* Navbar */

  nav{
   
    background-color: #0d1b2a;
    align-items: flex-start;
    height: 3.5rem;
    flex-direction: column;
    position: relative;

}
  
#hamburger{
    display: block;
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    font-size: 1.5rem;
}


.navContainerRight{
    background-color: #0d1b2a;
    transform: translateX(-30rem);
}
.navContainerleft{
   display: flex;
   align-items: center;
   justify-content: center;
   align-self: flex-end;
margin-top: 0.2rem;

}
.textLogo{
  
    opacity: 1;
    margin-left: 20px;
    width: 8.5rem;
    
}

.logo{
    width:3rem;
    height: 3rem;
}




.navContainerRight ul {

    gap: 7rem;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
 

}


/* Newsteller */
/* Newsteller */
/* Newsteller */
/* Newsteller */



#newsletter{
    height: 15rem;
}

#newsletter p{
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
}

#newsletter form{
    background-color: white;
    padding: 0.4rem 0.6rem;
    width: 18rem;
    gap: 0.5rem;
}


#newsletter input{
    width: 95%;
    font-size: 0.8rem;
    border-radius: 1rem;
    
}

#newsletter button{
    
    padding:0.5rem 0.4rem;
    width: 5rem;
    font-size: 0.8rem;
}


/* Services */
/* Services */
/* Services */
/* Services */


.container h2{
    font-size: 2.2rem;
    
}

    

.container {
  
    gap:4rem;
}

/* Footer */
/* Footer */
/* Footer */
/* Footer */
/* Footer */




footer{
    width: 100%;
    flex-direction: column;
    height: 55rem;
}

.footer-top{
    width: 100%;
    height: 90%;
    flex-direction: column;
    border-bottom: 1px solid rgb(97, 97, 97);
    padding-bottom: 1rem;
    gap: 1.5rem;
}

.footer-top div span{
    font-size: 1.5rem;
    font-weight:600;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid rgb(231, 226, 226);
}

.footer-top div p{
    font-size: 1.2rem;
}

.footer-top div{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-sizing: border-box;

}

.footer-top div:nth-child(4) span{
    height: 60%;
    width: 100%;
border: none;
display: flex;
align-items: center;
justify-content: center;
}

.footer-top div:nth-child(4) img{
width: 18%;
height: 100%;
}




.footer-bottom{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-form{
    width: 80%;
    height: 30%;
   
}




/* Map Section */
/* Map Section */
/* Map Section */
/* Map Section */



.map-section{
    width: 100%;
background-image: url("");
display: flex;
height: 55rem;


}

.map-section .details{
    width: 90%;
    height:100%;
    flex-direction: column;
    margin: 0;


}



.divLeft{
    width: 100%;
    height: 100%;
    align-items: flex-start;
    gap:0.4rem;
    margin: 0;
}

.divLeft p{
    line-height: 1.3rem;
    text-align:left;
}



.divRight{
    border-left:none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 1rem;
}







.divRight #client-details{

width: 100%;



}
}