
section{
    margin-top: 3rem;
    height:55rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 4rem;

}

.section-top h2{
    font-size: 3rem;
}

.section-top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    box-sizing: border-box;

}

.section-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 80%;    box-sizing: border-box;




}

.section-bottom-top,.section-bottom-bottom{
display: flex;
align-items: center;
justify-content: space-between;
width: 60%;
box-sizing: border-box;

}

.section-bottom-bottom {
    margin-left: 5rem;
}




.section-bottom-top img,.section-bottom-bottom img{
    width: 5rem;
}


.section-bottom-mid{
    border: 1px solid rgb(218, 211, 211);
    height: 0.2rem;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-sizing: border-box;
}

.section-bottom-mid span{
    border: 1px solid black;
    padding:0.5rem;
    width: 1.2rem;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    position:relative;
}

.section-bottom-mid span:hover{
    cursor: pointer;
}

.section-bottom-description{
    width: 70%;
    height: 40%;
}

.image-text{
text-align: center;}

.image-text-even{
    display: flex;flex-direction: column;
    align-items: center;
    justify-content: center;
}




.section-bottom-description{

position: relative;
margin-right: 8rem;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
border-radius: 1rem;
align-self: flex-end;


}

.div1{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
opacity: 1;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 2rem;
background-color: #f4f8fe;
border: 1px solid rgb(228, 222, 222);
box-sizing: border-box;
padding: 2rem;
}


.fontsize{
font-size: 1.4rem;
font-weight: 600;
}

.section-bottom-mid span p{
    width:0rem;
    height: 0.3rem;
    background:linear-gradient(to right,cyan,blue);
    position: absolute;
top: 1rem;
left:2.2rem;
}
