@font-face {
    font-family: "list-font";
    src: url(/Container/Assets/Fonts/source-sans-pro.regular.ttf)
}
.logo{
    font-family: logo-font;
    font-size: 1rem;
    color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=IBM+Plex+Sans:wght@300&display=swap');

:root {
    --primary: #b9cbb5;
    --secondary: #black;
    --text-color: #04287c;
    --alt-text-color: #white;
    --input-background: white; 
    --nav-bar-color : whitesmoke;
    --alt-text-color:#000000;
    --alt-text-Color: #001e3c;
    --snackbar-action: #a411df;
    --tertiary-color: #80ced7;
    --notification-color:#007bff;
    --badge-color: chartreuse;
    --danger-alert: #f44034;
    --success-alert: #04AA6D;
    --info-alert: #17a2b8;
    --warning-alert: #fc9d10;
    --Secondary-color:#6c757d;
    --rating-color: yellow;
    --card-background :rgba(20,21,42,255);
    --card-color-primary:#191938;
    --font-primary: 'IBM Plex Sans', sans-serif;
    --cta:#003249;
    --other-cta:#ccdbdc;
}