
.team {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    flex-direction: column;
    height:25rem;
    box-sizing: border-box;
    gap: 3rem;
    padding: 2rem 0 0 0;




}

#team-slogan{
    width: 80%;
    background-color: transparent;
    gap: 0.5rem;
    display: flex;
    height: 30%;
 
 
}

#team-slogan h2{
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#team-slogan p{
    font-size: 1rem;
}


.team .member-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding-bottom: 1rem;
    flex-direction: row;
    border: none;
    transition: all 2s;


}


.team .member-details .member1{
    background-color: rgb(255, 255, 255);
}


.team div{
    width: 20%;
    height: 70%;
    border: 1px solid rgb(231, 230, 236);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    flex-direction: column;
    padding-bottom: 1rem;
gap: 1.5rem;
}



.team p{
    font-size: 0.7rem;
    opacity: 0.7;
}
.team span{
display: flex;
flex-direction: column;
gap: 0.5rem;
align-items: center;
justify-content: center;
}



.team div img{
    width: 5.5rem;
    border-radius: 50%;
    border: 1px solid rgb(228, 223, 223);
    position: absolute;
    top: -3rem;
}


ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.7rem;
}


ul li{
    list-style-type: none;
    opacity: 0.5;
    transition: all 0.4s ease;
}

ul li{
border-radius: 50%;
}



ul li:hover{
cursor: pointer;
opacity: 1;
}

